[Unit]
Description=Autonomy Daemon
After=network.target
Requires=h2.service

[Service]
ExecStart=/usr/bin/java -Xdebug -Xrunjdwp:server=y,transport=dt_socket,address=8000,suspend=n -jar %h/.local/autonomy/autonomy-thorntail.jar -DrestartOn=%h/.local/autonomy/autonomy-thorntail.jar -DrestartCommand="%h/bin/restartAutonomy.sh"
ExecStop=/bin/kill $MAINPID
ExecStopPost=systemctl --user stop h2
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
